* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  background-color: #121214;
  color: #E6E6E6;
}

h2 {
  color: #ffffff;
  font-size: 25px;
  font-weight: 500;
}

h3 {
  font-size: 17px;
  font-weight: 400;
}

/* Navbar */
nav {
  position: fixed;
  width: 100%;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  height: 70px;
  display: flex;
  background-color: #202024;
  /* box-shadow: 0 0 15px black; */
}

nav a {
  color: #f2f2f2;
  text-decoration: none;
  padding: 20px 10px;
  font-size: 17px;
  border-bottom: 3px solid transparent;
}

nav a:hover,
nav a.active {
  border-bottom: 3px solid #ffffff;
}

/*Main*/
main {
  margin: 175px 20px;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

/* Sidebar */
aside {
  order: 2;
  background-color: #202024;
  height: 100%;
  text-align: center;
  border-radius: 5px;
  padding: 30px;
}

aside img {
  border-radius: 50%;
  width: 175px;
  padding: 7px;
  border: 4px solid #E0E0E6;
}

#profile-name {
  margin: 22px 0;
  text-transform: uppercase;
}

aside h3{
  margin: 10px 0;
}

aside span {
  color: #87868B;
}

.divider-sidebar {
  background-color: #121214;
  height: 2px;
  margin: 30px -30px;
}

#about-sidebar {
  text-align: left;
}

#about-sidebar h3 {
  color: #ffffff;
  text-transform: uppercase;
}

#about-sidebar a {
  display: block;
  width: 135px;
  margin-top: 25px;
  padding: 15px 0;
  background-color: transparent;
  color: #ffffff;
  border: 1px solid #ffffff;
  text-decoration: none;
  text-align: center;
  text-transform: uppercase;
  font-size: 14px;
}

#social-links-sidebar {
  display: flex;
  font-size: 20px;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

#social-links-sidebar a {
  color: #87868B;
}

#social-links-sidebar a:hover {
  color: #ffffff;
}

section {
  order: 1;
  background-color: #202024;
  border-radius: 5px;
  padding: 40px;
}

section h2 {
  text-transform: uppercase;
}

.divider-content {
  background-color: #121214;
  height: 2px;
  margin: 40px -40px;
}

@media (min-width: 769px) {
  main {
    flex-direction: row;
    justify-content: center;
    gap: 60px;
  }

  aside {
    order: 1;
    width: 31.425%;
    max-width: 351px;
    height: 100%;
  }

  section {
    order: 2;
    width: 63%;
    max-width: 705px;
    height: 100%;
  }
}