* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  background-color: #121214;
}

/* Navbar */
nav {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  height: 70px;display: flex;
  background-color: #202024;
  /* box-shadow: 0 0 15px black; */
}

nav a {
  color: #f2f2f2;
  text-decoration: none;
  padding: 20px 10px;
  font-size: 17px;
  border-bottom: 3px solid transparent;
}

nav a:hover,
nav a.active {
  border-bottom: 3px solid #ffffff;
}

/*Main*/
main {
  margin: 100px 0;
  width: 75%;
  display: flex;
  flex-direction: row;
  gap: 50px;
  justify-content: center;
}

article {
  background-color: #202024;
  width: 25%;
}

section {
  background-color: #202024;
  width: 75%;
}